.App {
  text-align: center;
  background-color: cadetblue;
  
}

.img{
  width:500px;
   border-radius:50%;
   margin-top: 60px;
}
.name{
  background-color: aqua;
  font-size: 80px;
  margin: 0px;
}
.adress{
  font-size: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
